<div class='widget_settings_block__item_field form-group waba_widget_settings_block'>
    <div class='widget_settings_block__title_field form-group__title h-text-overflow'>{{ langs.salesbot.template_waba }}</div>
    {{ dataWabaTemplate }}
</div>
<div class='widget_settings_block__item_field form-group waba_widget_settings_block'>
    <div class='widget_settings_block__title_field form-group__title h-text-overflow'>
        {{ langs.salesbot.param_one }}
    </div>
    <input id="waba_param1_chats_app" name="waba_param1_chats_app" class="chats_app_text-input text-input">
</div>
<div class='widget_settings_block__item_field form-group waba_widget_settings_block'>
    <div class='widget_settings_block__title_field form-group__title h-text-overflow'>
        {{ langs.salesbot.param_two }}
    </div>
    <input id="waba_param2_chats_app" name="waba_param2_chats_app" class="chats_app_text-input text-input">
</div>
<div class='widget_settings_block__item_field form-group waba_widget_settings_block'>
    <div class='widget_settings_block__title_field form-group__title h-text-overflow'>
        {{ langs.salesbot.param_three }}
    </div>
    <input id="waba_param3_chats_app" name="waba_param3_chats_app" class="chats_app_text-input text-input">
</div>
<div class='widget_settings_block__item_field form-group waba_widget_settings_block'>
    <div class='widget_settings_block__title_field form-group__title h-text-overflow'>
        {{ langs.salesbot.param_four }}
    </div>
    <input id="waba_param4_chats_app" name="waba_param4_chats_app" class="chats_app_text-input text-input">
</div>